@use "sass:math";

.contact {
    @include flx(justify-content, center);
    align-items: center;
    flex-wrap: wrap;
    @extend %double-margin-top;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    &__figure {
        width: 50%;
    }

    &__img {
        width: 100%;
    }

    &__info {
        width: 40%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    $x:1;

    @while $x < 5 {
        &__p-#{$x} {
            @include fontSize (math.div(40px, $x));
            padding-top: 5px * $x;
        }

        $x: $x+1
    }
}